body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/* reset */

ul, ol {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

h1,h2,h3,h4,h5,h6,p {
margin: 0;
}

a {
    text-decoration: none;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items:center;
    
}

.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin: 76px; 
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.nav-list{
    display: flex;
    align-items:center;
    gap: 40px;
}

.nav-link {
        display: block;
        padding: 24px 0;
        gap: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list{
    display: flex;
    align-items:center;
    gap: 40px;
}

.contacts-link {
            display: block;
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
}

.page-footer {
    background-color: #2e2f42;
}

/* Section1 */
.hero {
    display: flex;
    padding-top: 188px;
    padding-bottom: 188px;
    align-items:center;
    text-align: center;
    background-color: #2e2f42;
}


.hero-title {
        width: 496px;
        margin: 0 auto;
        padding-bottom: 48px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

/* button */

button:focus {
    background-color: #404bbf;
}

button:hover {
        background-color: #404bbf;
}

.button-name {
        
        display: inline-flex;
        align-items:center;
        justify-content: center;
        border-radius: 4px;
        width: 169px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background-color: #4d5ae5;
        
}

/* Section2 */

.benefits {
    padding: 120px 0;
}

.list-benefits{
    display: flex;
    gap: 24px;
    justify-content: center;
  
      
}

.benefits-item {
    width: 264px;
}

.benefits-subtitle {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.benefits-p
 {
        padding-top: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}


/*  Section 3 */

.team {
    padding: 120px 0;
    background: #f4f4fd;
   
}

.list-team{
    display:flex;
    gap: 24px;
    justify-content: center;
    padding-top: 72px;
   
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-item {
        background-color: #FFFFFF;
  
}

.card {
        justify-content: center;
        padding: 32px 16px;
}

.h-team {
        padding-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.p-team {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* Section 4 */

.our-portfolio {
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.portfolio-list {
        display: flex;
        justify-content: center;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.h-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.p-portfolio {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* Footer */

.p-footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}